.priorityItem{
    display: grid;
    grid-template-columns: 35% auto;
    width: 90vw;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(136, 136, 136, 0.555);
    padding : 5px;
    min-width: 350px;
    background-color: #fff;
}

.filterButtonIcon{
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    float: inline-end;
    right : 0px;
    font-size: 16px;
    margin-left: auto;
}

.expandableDiv{
    background-color: transparent;  
    overflow: hidden;  
}

.expandable--inner{
}

@keyframes expandDiv {
    0%{
        height: 0px;
    }
    100%{
        height: 80px;
   }
}

@keyframes closeDiv {
     0%{
        height: 80px;
    }
    100%{
        height: 0px;
   }
}