.selector{
    display: flex;
    gap : 5px;
    align-items: center;
    & > .arrowIcon{
        height : 20px;
        cursor: pointer;
    }
}


.level--selected{
    height: 20px;
    width: 20px;
    background-color: #f5300d;
}

.level--unselected{
    height: 20px;
    width: 20px;
    border : solid 1px #000;
}