.tilesContainer{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    margin-top: 5vh;
    row-gap : 20px;
}

.tile{
    padding : 10px;
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.329);
    width: 200px;
    height : 80px;
    align-items: center;
}


@media screen and (min-width : 750px) {
    .tilesContainer{
        grid-template-columns: auto auto;
        justify-content: center;
        column-gap: 25px;
    }
    .tile{
        height: 100px;
        width: 300px;
        transition: box-shadow 0.2s;
        &:hover{
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.329);
        }
    }
}