*{
    user-select: none;
}

a{
    text-decoration: none;
    color: #000;
}

a:active{
    color: #000;
}

body{
    min-height: 100vh;
}

.font--white{
    color: #fff;
}

.Jumbotron{
    display: flex;
    flex-direction: column;
    grid-template-columns: auto;
    width: 100%;
    height: 30vh;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    justify-content: center;
    align-items: center;
    color : #fff;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    font-family: 'Arial', cursive;
    font-size: 20px;

    &>.userItem{
        position: absolute;
        right : 10px;
        top : 10px;
        margin : 15px;
        color : #fff;
    }
}

.icon{
    height: 15px;
    fill : #fff;
    width: 20px;
}

.icon--medium{
    height: 100px;
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.tooltip:hover:before{
    content : attr(href);
    color : #fff;
    background-color: #000;
    margin : 4px;
    animation: fade-in 2s;
}

.primaryButton{
    background-color: rgb(35, 112, 255);
    height : 40px;
    border : none;
    padding : 10px;
    color : #fff;
    border-radius: 5px;
    cursor: pointer;
}

.secondaryButton{
    background-color: #fff;
    height : 40px;
    border :rgb(0, 0, 0) 1px solid;
    padding : 10px;
    color : #000;
    border-radius: 5px;
    cursor: pointer;
    
}

.outerDiv{
    padding : 10px;
}

.flex--center{
    display: flex;
    justify-content: center;
}

.grid--center{
    display: grid;
    justify-content: center;
}

.grid{
    display: grid;
}

.form{
    display: grid;
    row-gap : 20px;
    &>.formRow{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;

        & > input{
            width : 50vw;
            border: none;
            border-bottom :rgb(35, 112, 255) solid 1px;
            outline: none;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            padding : 5px;
        }


    }
    &> button{
        margin-top : 20px;
    }
}

.alertBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
   
    box-shadow: 2px 2px 2px 2px rgba(117, 117, 117, 0.582);
    background-color: #fff;
    z-index: 10000;
    padding : 10px;
    border-radius: 10px;
    margin : 10px;
    position: sticky;
    top : 0;
   
}

.underline{
    text-decoration: underline 2px rgb(35, 112, 255);
    text-underline-offset: 4px;
}

.progress {
    min-height: 15px;
    width: 150px;
    background-color :rgb(253, 253, 253);
    border: #000 solid 1px;
    border-radius: 0;
    transition: all 300ms ease;
    justify-self: center;
    border-radius: 5px;
    &>.progressInner{
        background-color :rgb(35, 112, 255);
        transition: all 300ms ease;
        min-height: 15px;
        width: 10%;
    }
}


// @media screen and (min-width : 750px) {
//     .outerDiv{
//         width: fit-content;
//         justify-self: center;
//         justify-items: center;
//     }
// }